<!-- barra de filtros -->
<section
    class="bg-[var(--color-cinco)] flex items-center justify-center p-4 gap-3 text-[var(--color-um)] sticky top-14">
    <button class="flex items-center gap-1" (click)="filtros.abrirFiltros()">
        Filtrar<span class="material-symbols-outlined">tune</span>
        <span *ngIf="filtrosAtivos" class="w-2 h-2 bg-[var(--color-um)] rounded-full"></span>
    </button>
    <button class="flex items-center gap-1" (click)="ordenarMotos()">
        Ordenar<span class="material-symbols-outlined">{{ ordenacaoAtual === 'asc' ? 'arrow_upward' : 'arrow_downward'
            }}</span>
    </button>
</section>

<app-filtros #filtros (filtrosAplicados)="aplicarFiltros($event)"></app-filtros>

<!-- grid com ngFor para exibir todas as motos -->
<section class="flex justify-center items-center flex-col min-h-[calc(100vh-200px)]">
    <div *ngIf="motosFiltradas.length > 0"
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 gap-x-24 gap-y-13 p-3">
        <div *ngFor="let moto of motosFiltradas">
            <a [routerLink]="['/desc-produtos', moto.id]"
                class="card bg-[var(--color-cinco)] rounded-lg p-6 max-w-lg w-full flex flex-col items-center justify-start h-[440px] overflow-hidden">

                <img [src]="moto.imagem" [alt]="moto.nome" class="h-52 object-contain mb-2" />

                <div class="bg-(--branco-opaco) w-screen flex flex-col items-center justify-center h-full">
                    <h3 class="font-bold text-center text-base mb-2">{{ moto.nome }}</h3>

                    <p *ngIf="moto.precoAntigo" class="text-sm text-[var(--vermelho-padrao)] line-through">
                        R$ {{ moto.precoAntigo | number: '1.0' }}
                    </p>

                    <p class="text-base font-bold text-[var(--color-um)]">
                        R$ {{ moto.precoAtual | number:'1.0' }}
                    </p>
                </div>
            </a>
        </div>
    </div>

    <div *ngIf="motosFiltradas.length === 0" class="flex flex-col items-center justify-center p-8 text-center">
        <span class="material-symbols-outlined text-6xl text-[var(--color-um)] mb-4">sports_motorsports</span>
        <h3 class="text-xl font-bold text-[var(--color-um)] mb-2">Nenhuma moto encontrada</h3>
        <p class="text-[var(--color-um)]">Não foram encontradas motos com os filtros aplicados.</p>
        <button (click)="limparFiltros()" class="mt-4 px-4 py-2 rounded bg-[var(--color-um)] text-white">
            Limpar Filtros
        </button>
    </div>
</section>