<!-- barra de filtros -->
<section
    class="bg-[var(--color-cinco)] flex items-center justify-center p-4 gap-3 sticky top-15 left-0 right-0 z-10 text-[var(--color-um)]">
    <button class="flex items-center gap-1">
        Filtrar<span class="material-symbols-outlined">tune</span>
    </button>
    <button class="flex items-center gap-1">
        Ordenar<span class="material-symbols-outlined">swap_vert</span>
    </button>
</section>

<!-- grid com ngFor para exibir todas as motos -->
<section class="flex justify-center items-center flex-col">

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 gap-x-24 gap-y-13 p-3">

        <div *ngFor="let moto of motos" class="relative">

        <div class="absolute top-2 right-2 z-20">
          <span (click)="abrirDialogoExclusao(moto)" class="material-symbols-outlined cursor-pointer text-(--vermelho-padrao) hover:text-(--color-um) transition">
            delete
          </span>
        </div>
      
        <div class="card bg-[var(--color-cinco)] rounded-lg p-6 max-w-lg w-full flex flex-col items-center justify-start h-[440px] overflow-hidden">
      
          <img [src]="moto.imagem" [alt]="moto.nome" class="h-52 object-contain mb-2" />
      
          <div class="bg-(--branco-opaco) w-screen flex flex-col items-center justify-center h-full">
            <h3 class="font-bold text-center text-base mb-2">{{ moto.nome }}</h3>
      
            <p *ngIf="moto.precoAntigo" class="text-sm text-[var(--vermelho-padrao)] line-through">
              R$ {{ moto.precoAntigo | number: '1.0' }}
            </p>
      
            <p class="text-base font-bold text-[var(--color-um)]">
              R$ {{ moto.precoAtual | number:'1.0' }}
            </p>
          </div>
      
        </div>
      </div>

    </div>
</section>

<div *ngIf="mostrarDialogoConfirmacao"
     class="fixed inset-0 flex items-center justify-center z-50"
     style="background-color: rgba(170, 192, 208, 0.308);">
  <div class="bg-[var(--color-cinco)] p-6 rounded-3xl max-w-md w-full mx-4">
    <h2 class="text-xl font-bold text-[var(--color-um)] mb-4">Confirmar Exclusão</h2>
    <p class="text-[var(--color-um)] mb-6">
      Tem certeza que deseja excluir a moto <strong>{{ motoParaExcluir?.nome }}</strong>?
    </p>
    <div class="flex justify-end gap-4">
      <button 
        (click)="fecharDialogoExclusao()"
        class="px-4 py-2 rounded-lg bg-[var(--color-quatro)] text-[var(--color-um)] hover:bg-[var(--color-tres)] transition">
        Cancelar
      </button>
      <button 
        (click)="confirmarExclusao()"
        class="px-4 py-2 rounded-lg bg-[var(--vermelho-padrao)] text-white hover:bg-red-700 transition">
        Excluir
      </button>
    </div>
  </div>
</div>