<!-- barra de filtros -->
<section class="bg-[var(--color-cinco)] flex items-center justify-center p-4 gap-3 sticky top-15 left-0 right-0 z-10 text-[var(--color-um)]">
    <button class="flex items-center gap-1">
        Filtrar<span class="material-symbols-outlined">tune</span> 
    </button>
    <button class="flex items-center gap-1">
        Ordenar<span class="material-symbols-outlined">swap_vert</span>
    </button>
</section>

<!-- grid com ngFor para exibir todas as motos -->
<section class="flex justify-center items-center flex-col">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 gap-x-24 gap-y-13 p-3">

        <div *ngFor="let moto of motos">
            <a [routerLink]="['/desc-produtos', moto.id]"
                class="card bg-[var(--color-cinco)] rounded-lg p-6 max-w-lg w-full flex flex-col items-center justify-start h-[440px] overflow-hidden">
                
                <img [src]="moto.imagem" [alt]="moto.nome" class="h-52 object-contain mb-2" />

                <!-- Área de texto preenchendo até o final -->
                <div class="bg-(--branco-opaco) w-screen flex flex-col items-center justify-center h-full">
                    <h3 class="font-bold text-center text-base mb-2">{{ moto.nome }}</h3>

                    <p *ngIf="moto.precoAntigo" class="text-sm text-[var(--vermelho-padrao)] line-through">
                    
                        R$ {{ moto.precoAntigo | number: '1.0' }}
                    </p>

                    <p class="text-base font-bold text-[var(--color-um)]">
                        R$ {{ moto.precoAtual | number:'1.0' }}
                    </p>
                </div>

            </a>
        </div>

    </div>
</section>